*.slo
*.lo
*.o
*~

Makefile
source/av
source/av_ffi_header.cpp
CMakeCache.txt
CMakeFiles/
cmake_install.cmake


*.lai
*.la
*.a

*.d
*.spec

*.obj
*.exp

*.DS_Store

*.pbxuser
*.perspectivev3
*.xcuserdatad

build
.ninja_deps
.ninja_log
build.ninja
rules.ninja

