[submodule "src/luajit-2.0"]
	path = src/luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
[submodule "src/hidapi"]
	path = src/hidapi
	url = git://github.com/signal11/hidapi.git
[submodule "lpeg"]
	path = lpeg
	url = https://github.com/fire/lpeg.git
[submodule "rtaudio"]
	path = rtaudio
	url = git://gitorious.org/rtaudio/rtaudio.git
